{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-10 mx-auto my-4">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <h1 class="text-center my-4">Votre Hotel Restaurant</h1>

    <div class="row">
        {% for chambre in chambres %}

            <div class="col-3 my-3 mx-2 mx-auto">
                <div class="card" style="width: 18rem; height: 26rem;">

                    <img width="230" height="130" src="{{ asset('uploads/' ~ chambre.photo) }}" class="card-img-top img-custom-thumbnail" alt="{{ chambre.titre }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ chambre.titre | length > 20 ? chambre.titre | slice(0,20) ~ '...' : chambre.titre }}</h5>
                        <h6 class="card-title">{{ chambre.descriptionCourte | length > 30 ? chambre.descriptionCourte | slice(0,30) ~ '...' : chambre.descriptionCourte }}</h6>
                        <p class="card-text">{{ chambre.descriptionLongue | length > 50 ? chambre.descriptionLongue | slice(0,50) ~ '...' : chambre.descriptionLongue | raw }}</p>
                        
                           class="btn btn-primary d-block mx-auto">Voir la chambre</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
