{% extends 'base.html.twig' %}

{% block title %}Gestion des chambres{% endblock %}

{% block body %}

    <h1 class="text-center my-4">chambre</h1>

    <div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col-4"><a href="{{ path('show-chambre') }}" class="btn btn-primary"> Voir les archives</a> </div>

          <div class="col-4"><a href="{{ path('show_chambre') }}" class="btn btn-primary"> liste des membres</a> </div>


        <div class="col-4"></div>
        <div class="col-4"><a href="{{ path('show-trash') }}" class="btn btn-warning"><i class="fa fa-trash"></i> Voir les archives</a> </div>

    </div>

    <div class="row">
        <div class="col-10 mx-auto my-4">

            <h2 class="text-center">chambre</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>Ordre</th>
                    <th>Crée le </th>
                    <th>Modifié le </th> 
                    <th>Actions</th>   
                </tr>
                </thead>
                <tbody>
                
                {% for chambre in chambre %} 
                <tr>
                 <td>{{ chambre.id }}</td>
                 <td>{{ chambre.photo }}</td>
                 <td>{{ chambre.ordre }}</td>
                 <td>{{ chambre.createdAt | date('d/m/Y')}}</td>
                 <td>{{ chambre.updatedAt | date('d/m/Y')}}</td>
                  <td>
                            <a href="#" class="text-info" title="Modifier chambre"><i class="fa fa-edit"></i></a>
                            <a href="#" class="text-danger" title="Archiver chambre" onclick="return confirm('Voulez-vous archiver chambre ?')"><i class="fa fa-trash"></i></a>
                        </td>
                 
                </tr>
                {% endfor %}

 {% endblock %}

 <div class="row">
        <div class="col-6">

            <h2 class="text-center">Les chambres</h2>

            <table class="table mx-auto">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Alias</th>
                    <th>Créée le</th>
                    <th>Modifiée le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for chambre in chambres %}
                    <tr>
                        <td>{{ chambre.id }}</td>
                        <td>{{ chambre.name }}</td>
                        <td>{{ chambre.alias }}</td>
                        <td>{{ chambre.createdAt | date('d/m/Y') }}</td>
                        <td>{{ chambre.updatedAt | date('d/m/Y') }}</td>
                        {% if chambre.deletedAt is null %}
                            <td>
                                <a href="{{ path('update_category', {'id': chambre.id}) }}"
                                   class="text-info" title="Modifier">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{{ path('soft_delete_category', {'id': chambre.id}) }}"
                                   class="text-danger"
                                   title="Archiver la catégorie"
                                   onclick="return confirm('Voulez-vous archiver cette catégorie ?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        {% else %}
                            <td class="bg-warning">
                                <a href="{{ path('restore_category', {'id': chambre.id}) }}"
                                   class="text-primary"
                                   title="Restaurer la catégorie">
                                    <i class="fa-solid fa-trash-arrow-up"></i>
                                </a>
                                <a href="{{ path('hard_delete_category', {'id': chambre.id}) }}"
                                   class="text-danger"
                                   title="Supprimer définitivement la chambre"
                                   onclick="return confirm('Voulez-vous supprimer définitivement cette chambre ?')">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="bg-warning">Aucune chambre dans la base</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>




        <div class="col-6"></div>
    </div>

{% endblock %}
