{% extends 'base.html.twig' %}

{% block title %}Chambres de {{ commande.nom }}{% endblock %}

{% block body %}

     <h1 class="text-center my-4"> Commandes {{ commande.nom }}</h1>
    
  {% if chambres is not empty %}

   <div class="col-9 mx-auto mb-5">
      
       {% for chambre in chambres %}
         
            <div class="row mb-4">
       
                  <div class="col-5 me-1">
                     <a href="" title="voir l'article">
                         <img src="{{ asset('uploads/' ~ chambre.photo) }}" alt="{{ chambre.titre }}" class="img-fluid rounded shadow">
                     </a>
                  </div>

                  <div class="col-7">
                       <a href="" class="text-decoration-none text-dark">{{chambre.title }}</a>
                       <p class="text-muted">{{ chambre.descriptionCourte }}</p>
                  </div>

            </div>
           <hr>
          {% endfor %} 
    </div>
    {% endif %}    