{% extends 'base.html.twig' %}

{% block title %}Voir la poubelle{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-10 mx-auto my-4">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 ms-3">
            <a href="{{ path('show_dashboard') }}"><i class="fa-solid fa-arrow-left"></i> Retour au Dashboard</a>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto my-4">

            <h2 class="text-center">Tous les chambres archivés</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>description-longue</th>
                    <th>description-court</th>
                    <th>titre</th>
                    <th>Photo</th>
                    <th>date-enregistrement </th>
                    <th>tarif-journalier_nuitée </th> 
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for chambre in archivedChambres %}
                    <tr>
                        <td>{{ chambre.id }}</td>
                        <td>{{ chambre.title | length > 20 ? chambre.title | slice(0,20) ~ '...' : chambre.title }}</td>
                        <td>{{ chambre.content | length > 20 ? chambre.content | slice(0,20) ~ '...' : chambre.content }}</td>
                        <td>{{ chambre.command.name }}</td>
                        <td>{{ chambre.createdAt | date('d/m/Y') }}</td>
                        <td>{{ chambre.updatedAt | date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('restore_chambre', {"id": chambre.id}) }}" class="text-info" title="Restaurer la chambre"><i class="fa-solid fa-trash-arrow-up"></i></a>
                            <a href="{{ path('hard_delete_chambre', {'id': chambre.id}) }}" class="text-danger" title="Supprimer définitivement la chambre" onclick="return confirm('Voulez-vous supprimer définitivement cet chambre ?')"><i class="fa-solid fa-times-circle"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="bg-warning text-center">Aucun article dans la poubelle</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}